<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Accueil</a></li>
			<li><a href="/cv">Résumé</a></li>
	        	<li><a href="/research">Recherche</a></li>
        		<li><a href="/3280ProjectReport.pdf">Cours</a></li>
    		</ul>
		</nav>
		<div class="container">
      		
			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:116010114@link.cuhk.edu.cn">Envoyez-moi un courriel</a></li>
        		<li><a href="https://williampixell.github.io">Williampixell.github.io</a></li>
			</ul>
		</footer>
	</body>
</html>
